@charset "utf-8";
*{padding: 0;margin: 0;}

/* 头部返回导航*/
.dingbu{
	background: linear-gradient(#f2f2f2, #fbfbfb, #f2f2f2);
	display: flex;
	padding: 10px;
}
.dingbu_lianjie{flex-grow: 1;}
.dingbu_lianjie_img{width: 20px;height: 20px;}
.dingbu_biaoti{flex-grow: 1;color: dimgray;}

 




















