<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>黄菊华：H5+CSS3商城界面实战-产品详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="css/chanpin_xiangqing.css">
	<script src="vue2.2.2.min.js" ></script>
	<script src="axios.min.js"></script>	
</head>

<body>
<div id="app">
    <!--头部菜单-->
	<div class="toubu">
		<a id="lj01" class="toubu_caidan">商品</a>
		<a id="lj02" class="toubu_caidan">详情</a>
		<div class="toubu_caidan  toubu_caidan_xuanzhong">评论</div>
	</div>
	
	<script>
		//下面代码获取页面的参数
		urlinfo = window.location.href  //获取当前页面的url
		console.log(urlinfo);
		len = urlinfo.length; //获取url的长度
		offset =urlinfo.indexOf("?");//设置参数字符串开始的位置
		neirong = urlinfo.substr(offset+1,len);//取出参数字符串 这里会获得类似“id=1”这样的字符串
		console.log(neirong);
		neirong1 = neirong.split("&");//对获得的参数字符串按照“=”进行分割

		cs1 = neirong1[0].split("=");
		cs1_mc = cs1[0];//得到参数名字
		cs1_zhi = cs1[1];//得到参数值
		console.log("参数1的名称："+cs1_mc + " | 参数1的值："+cs1_zhi);

		cs2 = neirong1[1].split("=");
		cs2_mc = cs2[0];//得到参数名字
		cs2_zhi = decodeURI(cs2[1]);//得到参数值
		console.log("参数2的名称："+cs2_mc + " | 参数2的值："+cs2_zhi);	
        
		document.getElementById("lj01").href="chanpin_xiangqing.html?id=" + cs1_zhi + "&mc=" + cs2_zhi;
		document.getElementById("lj02").href="chanpin_xiangqing2.html?id=" + cs1_zhi + "&mc=" + cs2_zhi;
	</script>
	
<div class="qukuai">	
	<div v-for="pl in pls">
		<div class="pinglun" >
			<div class="pinglun_tou">
				<img v-bind:src="pl.touxiang" class="pinglun_tou_img" />
				<p class="pinglun_tou_nicheng">{{pl.xingming}}</p>
				<p class="pinglun_tou_shijian">{{pl.riqi}}</p>
			</div>
			<div class="pinglun_zhong">
				<div class="pinglun_zhong_xing">
					<img src="img/xing0.png" class="pinglun_zhong_xing_img" v-for="n in pl.xing" />
				</div>
				<div class="pinglun_zhong_neirong">
					{{pl.neirong}}
				</div>
			</div>
		</div>
		<div class="gaodu10"></div>
    </div>
</div>
	
	
	<!--底部菜单-->
	<div class="dibu" id="dl_yes">
		<a class="dibu_shouye" href="index.html">
			<img src="img/shouye.png" class="dibu_shouye_img" />
			<p class="dibu_shouye_biaoti">首页</p>
		</a>
		<a class="dibu_shoucang" v-on:click="shoucang()">
			<img src="img/shoucang.png" class="dibu_shoucang_img" />
			<p class="dibu_shoucang_biaoti" >收藏</p>
		</a>
		<a class="dibu_gouwuche" href="gouwuche.html">
			<img src="img/gouwuche.png" class="dibu_gouwuche_img" />
			<p class="dibu_gouwuche_biaoti">购物车</p>
		</a>	
		<div class="dibu_jiaGWC" v-on:click="gouwuche()">加入购物车</div>
		<div class="dibu_goumai" v-on:click="goumai()">立即购买</div>
	</div>
	
	<div class="dibu" id="dl_no">
		<a class="dibu_shouye" href="index.html">
			<img src="img/shouye.png" class="dibu_shouye_img" />
			<p class="dibu_shouye_biaoti">首页</p>
		</a>
		<a class="dibu_shoucang" onClick="denglu()">
			<img src="img/shoucang.png" class="dibu_shoucang_img" />
			<p class="dibu_shoucang_biaoti" >收藏</p>
		</a>
		<a class="dibu_gouwuche"  onClick="denglu()">
			<img src="img/gouwuche.png" class="dibu_gouwuche_img" />
			<p class="dibu_gouwuche_biaoti">购物车</p>
		</a>	
		<div class="dibu_jiaGWC"  onClick="denglu()">加入购物车</div>
		<div class="dibu_goumai"  onClick="denglu()">立即购买</div>
	</div>
	
	<script>
		function denglu(){
			if(confirm("请登录")){
				window.location.href = "u_login.html"
			}
		}
		
		if(localStorage.u_login=="yes"){
			document.getElementById("dl_yes").style.display="";
			document.getElementById("dl_no").style.display="none";
		}else{
			document.getElementById("dl_yes").style.display="none";
			document.getElementById("dl_no").style.display="";	
		}
	
	</script>
	
</div> <!--app-->
	
<script>
	new Vue({
	  el: '#app',
	  data: {
		  pls:[]
	  },
	  //页面初始化要执行的
	  mounted:function(){
		  this.GetPinLun();
	  },
	  //自定义的函数（方法）
	  methods:{
		  GetPinLun:function(){
				axios.get('http://vue.yaoyiwangluo.com/wx_Pinlun_list_vue.asp',
							{
								params:{
									cpid:cs1_zhi
								}
							}				 
						 )
				  .then(function (response) {
					//response.data 返回值,下面插入你要执行的代码
					//console.log(response.data);
					this.pls = response.data;

				  }.bind(this))
				  .catch(function (error) {
					console.log(error);
				});				  
		  },
	   //收藏
		   shoucang:function(){
				axios.get('http://vue.yaoyiwangluo.com/wx_shoucang_add.asp',
							{
								params:{
									cs_uid:localStorage.u_id,    //参数1
									cs_cpid:cs1_zhi              //参数2
								}
							}				 
						 )
				  .then(function (response) {
					//response.data 返回值,下面插入你要执行的代码
					console.log(response);
					console.log(response.data);
					if(response.data.zt=="yes"){
						alert("收藏成功");
					}
					if(response.data.zt=="no"){
						alert(response.data.xinxi);
					}					

				  }.bind(this))
				  .catch(function (error) {
					console.log(error);
				});		   
		   },
		  
		   //加购物车
		   gouwuche:function(){
				axios.get('http://vue.yaoyiwangluo.com/wx_gwc_add.asp',
							{
								params:{
									cs_uid:localStorage.u_id,    
									cs_cpid:cs1_zhi,
									cs_cp_mingcheng:cs2_zhi,
									cs_jiage:this.jiage
								}
							}				 
						 )
				  .then(function (response) {
					//response.data 返回值,下面插入你要执行的代码
					if(response.data.zt=="yes"){
						alert("加入购物车成功");
					}
					if(response.data.zt=="no"){
						alert(response.data.xinxi);
					}					

				  }.bind(this))
				  .catch(function (error) {
					console.log(error);
				});	   
		   },
		  
		   //立即购买
		   goumai:function(){
				axios.get('http://vue.yaoyiwangluo.com/wx_gwc_add.asp',
							{
								params:{
									cs_uid:localStorage.u_id,    
									cs_cpid:cs1_zhi,
									cs_cp_mingcheng:cs2_zhi,
									cs_jiage:this.jiage
								}
							}				 
						 )
				  .then(function (response) {
					//response.data 返回值,下面插入你要执行的代码
					if(response.data.zt=="yes"){
						alert("加入购物车成功");
						window.location.href="gouwuche.html";
					}
					if(response.data.zt=="no"){
						alert(response.data.xinxi);
						window.location.href="gouwuche.html";
					}					

				  }.bind(this))
				  .catch(function (error) {
					console.log(error);
				});	 
		   },		  
	  },		
	})
</script>


</body>
</html>
