<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>黄菊华：H5+CSS3商城界面实战-购物车</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="css/toubu_fanhui.css">
<link rel="stylesheet" href="css/huiyuan_dizhi_tianjia.css">	
	<script src="vue2.2.2.min.js" ></script>
	<script src="axios.min.js"></script>	
	<script src="v-diqu.js"></script>
</head>

<body>
<script>
	//下面代码获取页面的参数
	urlinfo = window.location.href  //获取当前页面的url
	console.log(urlinfo);
	len = urlinfo.length; //获取url的长度
	offset =urlinfo.indexOf("?");//设置参数字符串开始的位置
	neirong = urlinfo.substr(offset+1,len);//取出参数字符串 这里会获得类似“id=1”这样的字符串
	console.log(neirong);
	neirong1 = neirong.split("&");//对获得的参数字符串按照“=”进行分割
	
	cs1 = neirong1[0].split("=");
	cs1_mc = cs1[0];//得到参数名字
	cs1_zhi = cs1[1];//得到参数值
	console.log("参数1的名称："+cs1_mc + " | 参数1的值："+cs1_zhi);
</script>		
<div id="app">
<form @submit.prevent="tijiao" name="frm"	>
<!--购物车-顶部导航-->
<div class="dingbu">
	<a href="u_dizhi_list.html" class="dingbu_lianjie">
		<img src="img/back.png"  alt="" class="dingbu_lianjie_img" />
	</a>
	<p class="dingbu_biaoti">修改地址</p>
</div>

<div class="dizhi">
	
	<div class="dizhi_xiangmu">
		<div class="dizhi_xiangmu_zuo">收货人</div>
		<div class="dizhi_xiangmu_you">
			<input type="text" class="dizhi_xiangmu_you_input" placeholder="请输入收货人" name="xingming" v-model="xingming" />
		</div>
	</div>

	<div class="dizhi_xiangmu">
		<div class="dizhi_xiangmu_zuo">手机号</div>
		<div class="dizhi_xiangmu_you">
			<input type="text" class="dizhi_xiangmu_you_input" placeholder="请输入手机号" name="shouji" v-model="shouji" />
		</div>
	</div>

	<div class="dizhi_xiangmu">
		<div class="dizhi_xiangmu_zuo">所在地区</div>
		<div class="dizhi_xiangmu_you">
			
			<div id="bigclass" style="float:left">
				<select name="select1"  v-model="select1" onChange="GetDiqu2(this.value)" >
					<option value="0">省级</option>
					<option v-bind:value="diqu1.myid"  v-for="diqu1 in diqu1s" >
						{{diqu1.fenlei_mingcheng}}
					</option>
				</select>
			</div>	
			
			<div id="subclass2"  style="float:left">
				<select name="select2"  v-model="select2" onChange="GetDiqu3(this.value)" >
					<option value="0">地级</option>
					<option v-bind:value="select1+'|'+diqu2.myid"  v-for="diqu2 in diqu2s" >
						{{diqu2.fenlei_mingcheng}}
					</option>					
				</select>	
			</div>
			
			<div id="subclass3"  style="float:left">
				<select name="select3"  v-model="select3" >
					<option value="0">县级</option>
					<option v-bind:value="diqu3.myid" v-for="diqu3 in diqu3s">
						{{diqu3.fenlei_mingcheng}}
					</option>
				</select>	
			</div>
			
			{{select1}}-{{select2}}-{{select3}}
			
		</div>
	</div>
	
	<div class="dizhi_xiangmu">
		<div class="dizhi_xiangmu_zuo">详细地址</div>
		<div class="dizhi_xiangmu_you">
			<input type="text" class="dizhi_xiangmu_you_input" placeholder="请输入详细地址" name="dizhi" v-model="dizhi" />
		</div>
	</div>
	
	<div class="dizhi_xiangmu">
		<div class="dizhi_xiangmu_zuo">设为默认</div>
		<div class="dizhi_xiangmu_moren">
			<input type="checkbox" name="mr" v-model="mr" id="moren" />
			<label for="moren"><em></em></label>
		</div>
	</div>
	
</div>
	
	
<div class="caozuo">
	<div class="caozuo_baocun">
		<button class="caozuo_baocun_btn">确认修改此地址</button>
	</div><br>
</div>
	
</form> 
</div><!--app-->
	

<script>
	new Vue({
	  el: '#app',
	  data: {
		dizhi_id:0,
		diqu1s:[],
		diqu2s:[],
		diqu3s:[],
		select1:"0",
		select2:"0",
		select3:"0",  

		xingming:"",
		shouji:"",
		dizhi:"",
		mr:0
	  },
	  //页面初始化要执行的
	  mounted:function(){
		  //this.GetDiqu1();
		  this.GetDizhiXinxi();
	  },
	  //自定义的函数（方法）
	  methods:{
		  GetDizhiXinxi:function(){
			axios.get('http://vue.yaoyiwangluo.com/wx_dizhi_info.asp',
						{
							params:{
								cs_uid:localStorage.u_id,    //参数1
								cs_dizhiid:cs1_zhi           //参数2
							}
						}				 
					 )
			  .then(function (response) {
				//response.data 返回值,下面插入你要执行的代码
				this.dizhi_id = response.data.dizhi_id;
				this.xingming = response.data.xingming;
				this.shouji = response.data.shouji;
				this.select1 = response.data.diqu1;
				this.select2 = response.data.diqu1+"|"+response.data.diqu2;
				this.select3 = response.data.diqu3;
				this.dizhi = response.data.dizhi;
				this.mr = response.data.yn_moren;	
				if(response.data.yn_moren=="1"){
					this.mr = true;
				}else{
					this.mr= false;
				}
				
				//加载1级地区分类
				axios.get('http://vue.yaoyiwangluo.com/v-diqu1.asp')
				  .then(function (response) {
					//response.data 返回值,下面插入你要执行的代码
					//console.log(response.data);
					this.diqu1s = response.data
				  }.bind(this))
				  .catch(function (error) {
					console.log(error);
				});					
				
				//加载2级地区分类
				axios.get('http://vue.yaoyiwangluo.com/v-diqu2-2.asp',
							{
								params:{
									bigclassid:response.data.diqu1
								}
							}				 
						 )
				  .then(function (response) {
					//response.data 返回值,下面插入你要执行的代码
					this.diqu2s = response.data;

				  }.bind(this))
				  .catch(function (error) {
					console.log(error);
				});	
					
				
				//加载3级地区分类
				axios.get('http://vue.yaoyiwangluo.com/v-diqu3-2.asp',
							{
								params:{
									bigclassid:response.data.diqu2
								}
							}				 
						 )
				  .then(function (response) {
					//response.data 返回值,下面插入你要执行的代码
					this.diqu3s = response.data;

				  }.bind(this))
				  .catch(function (error) {
					console.log(error);
				});					
				
				
			  }.bind(this))
			  .catch(function (error) {
				console.log(error);
			});				  
		  },
 
		  
		  //提交数据
		  tijiao:function(){
			  console.log(this.xingming);
			  if(this.xingming==""||this.shouji==""||this.dizhi==""||document.frm.select1.value=="0"||document.frm.select2.value=="0"){
				  alert("请填写内容和选择地址");
				  return false;
			  }else{
				  var diqu2 = "";
				  var diqu2s = new Array();
				  diqu2s = document.frm.select2.value.split("|");
				  console.log(diqu2s[1]);
				  //提交数据
					axios.get('http://vue.yaoyiwangluo.com/wx_dizhi_edit.asp',
								{
									params:{
										cs_uid:localStorage.u_id,
										cs_dizhiid:cs1_zhi,
										cs_xingming:this.xingming,
										cs_shouji:this.shouji,
										cs_diqu1:document.frm.select1.value,
										cs_diqu2:diqu2s[1],
										cs_diqu3:document.frm.select3.value,
										cs_dizhi:this.dizhi,
										cs_moren:this.mr
									}
								}				 
							 )
					  .then(function (response) {
						//response.data 返回值,下面插入你要执行的代码
						console.log(response.data);
						console.log(response.data.xinxi);
						if(response.data.zt=="yes"){
							alert("修改成功");
							window.location = "u_dizhi_list.html";
						}
						if(response.data.zt=="no"){
							alert(response.data.xinxi);
						}						

					  }.bind(this))
					  .catch(function (error) {
						console.log(error);
					});					  
			  }
		  }
		  
	  },		
	})
</script>
	

</body>
</html>
