<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>黄菊华：H5+CSS3商城界面实战-购物车</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="css/toubu_fanhui.css">
<link rel="stylesheet" href="css/huiyuan_mima.css">
	<script src="vue2.2.2.min.js" ></script>
	<script src="axios.min.js"></script>	
</head>

<body>
<div id="app">
<form @submit.prevent="tijiao" name="frm">	
<!--头部返回-->
<div class="dingbu">
	<a href="u_index.html" class="dingbu_lianjie">
		<img src="img/back.png"  alt="" class="dingbu_lianjie_img" />
	</a>
	<p class="dingbu_biaoti">密码修改</p>
</div><br>

<!--会员-注册-信息部分-->

<div class="zhuce_shouji">
	<div class="zhuce_shouji_biaoti">原始密码</div>
	<div class="zhuce_shouji_shuru">
		<input type="text" placeholder="请输入原始密码" class="zhuce_shouji_shuru_input" name="mima0" v-model="u.mima0" />
	</div>
</div>
<div class="zhuce_shouji">
	<div class="zhuce_shouji_biaoti">新的密码</div>
	<div class="zhuce_shouji_shuru">
		<input type="text" placeholder="请输入新密码" class="zhuce_shouji_shuru_input" name="mima1" v-model="u.mima1" />
	</div>
</div>
<div class="zhuce_shouji">
	<div class="zhuce_shouji_biaoti">确认密码</div>
	<div class="zhuce_shouji_shuru">
		<input type="text" placeholder="请再次输入确认密码" class="zhuce_shouji_shuru_input"  name="mima2" v-model="u.mima2"/>
	</div>
</div>
	
<!--会员-注册-附加信息-->
<div  class="zhuce_fujia">


	<input class="zhuce_fujia_btn" type="submit" value="确认修改密码" >

</div>


</form>
</div><!--app-->


<script>
	new Vue({
	  el: '#app',
	  data: {
		  u:{}
	  },
	  //页面初始化要执行的
	  mounted:function(){

	  },
	  //自定义的函数（方法）
	  methods:{
		  tijiao:function(){
			  //判断是否填写
			  if(this.u.mima0==undefined || this.u.mima1 == undefined || this.u.mima2==undefined){
				  alert("请输入信息");
				  return false;
			  }
			  //判断密码是否填写和填写是否一致
              if(document.frm.mima1.value!=document.frm.mima2.value){
				  alert("两次密码不同，请重新输入");
				  document.frm.mima1.value = "";
				  document.frm.mima2.value = "";
				  document.frm.mima1.focus();
				  return false;
			  }
 
			  
			 //判断没有错误，则提交注册  
		     //wx_check_mima_xiugai.asp?uid=706&mima0=123456&mima1=112233
			axios.get('http://vue.yaoyiwangluo.com/wx_check_mima_xiugai.asp',
						{
							params:{
								uid:localStorage.u_id,    //参数1
								mima0:this.u.mima0,        //参数2
								mima1:this.u.mima1
							}
						}				 
					 )
			  .then(function (response) {
				//response.data 返回值,下面插入你要执行的代码
				//console.log(response);
				console.log(response.data);
				if(response.data.zt=="yes"){
					alert("密码修改成功");
					window.location ="u_index.html";
				}
				if(response.data.zt=="no"){
					alert(response.data.xinxi);
				}				
				

			  }.bind(this))
			  .catch(function (error) {
				console.log(error);
			});	

			  
			  
		  }
	  },		
	})
</script>


</body>
</html>
